<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-6">
          <h2 class="text-center mb-4">Inicio de sesion </h2>
          <form class="px-4 py-3" method="post" action="{% url 'login' %}" >
            {% csrf_token %}
            <div class="mb-3">
              <center><label class="form-label" id="Nom">Nombre de usuario</label></center>
              <center><input type="text" class="form-control" name="username" id="cajatext"></center>
            </div>
            <br>
            <div class="mb-3">
              <center><label for="exampleDropdownFormPassword1" class="form-label" id="Con">Contraseña:</label></center>
              <center><input type="password" class="form-control" name="password" id="cajatext"></center>
            </div>
            <br>
            <center><div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Iniciar Sesion</button></div></center>
          </form>
        </div>
      </div>
</body>
</html>